.char-list-containter {
    color: #ffffff;
    width: 100%;
    margin-bottom: 0.5vw;
    /* Użyj jednostki względnej dla marginesu */
    padding-bottom: 0.5vw;
    /* Użyj jednostki względnej dla paddingu */
    display: flex;
    flex-direction: column; /* Ustawienie elementów w kolumnie */
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
    
}

.char-list {
    color: #ffffff;
    width: 100%;
    background-color: #333;
    border-radius: 0.5vw;
    height: 13vw;
    overflow-y: auto;
    /* Wyśrodkowanie wielu elementów */
    /* Wyśrodkowanie zawartości */

    
}

.char-list-containter h3 {
    margin-top: 0.5vw;
    /* Użyj jednostki względnej dla marginesu */
    margin-bottom: 0.2vw;
    /* Użyj jednostki względnej dla marginesu */
    font-size: 0.8vw;
    /* Użyj jednostki względnej dla rozmiaru czcionki */
    text-align: center;
}

.char-list ul {
    list-style-type: none;
    margin-top: 0.5vw;
    /* Użyj jednostki względnej dla marginesu */
    background-color: transparent;
    padding-left: 0.8vw;
    /* Użyj jednostki względnej dla paddingu */
    padding-right: 0.8vw;
    /* Użyj jednostki względnej dla paddingu */
}

.char-list li {
    padding: 0.2vw;
    /* Użyj jednostki względnej dla paddingu */
    padding-left: 0.3vw;
    /* Użyj jednostki względnej dla paddingu */
    background-color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.6vw;
    /* Użyj jednostki względnej dla rozmiaru czcionki */
}

.char-list li:hover {
    background-color: #555;
}

.char-list li.selected {
    background-color: #007bff;
}

.char-list-buttons-row {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 0.3vw;
    /* Użyj jednostki względnej dla odstępów */
    justify-content: center;
}

.char-list-button {
    width: 100%;
    padding: 0.8vh;
    /* Użyj jednostki względnej dla paddingu */
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 0.5vw;
    /* Użyj jednostki względnej dla zaokrąglenia */
    cursor: pointer;
    font-size: 0.7vw;
    /* Użyj jednostki względnej dla rozmiaru czcionki */
    transition: background-color 0.3s ease;
    margin-top: 0.8vh;
    /* Użyj jednostki względnej dla marginesu */
}

.char-list-button:hover {
    background-color: #555;
}

.char-list-hint-message  {
    padding: 1vw;
    height:9.2vw;
    color: #666;
    font-style: italic;
    text-align: center;
    border: 1px dashed #ccc;
    border-radius: 0.3vw;
    margin: 0.8vw;
    font-size: 0.68vw;
}