.bank-list-containter {
    color: #ffffff;
    width: 50%;
    /* Można zmienić na jednostkę względną, np. 50vw */
    height: 100%;
    display: flex;
    flex-direction: column;
    /* Włącz Flexbox */
    justify-content: center;
    /* Wyśrodkuj w poziomie */
    align-items: center;
    /* Wyśrodkuj w pionie */
}

.bank-list {
    color: #ffffff;
    width: 90%;
    background-color: #333;
    border-radius: 0.5vw;
    height: 12.4vw;
    overflow-y: auto;
}

.bank-list ul {
    list-style-type: none;
    margin-top: 0.5vw;
    /* Użyj jednostki względnej dla marginesu */
    background-color: transparent;
    padding-left: 1vw;
    /* Użyj jednostki względnej dla paddingu */
    padding-right: 1vw;
    /* Użyj jednostki względnej dla paddingu */
}

.bank-list li {
    padding: 0.2vw;
    /* Użyj jednostki względnej dla paddingu */
    padding-left: 0.3vw;
    /* Użyj jednostki względnej dla paddingu */
    background-color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9vw;
    /* Użyj jednostki względnej dla rozmiaru czcionki */
}

.bank-list li:hover {
    background-color: #555;
}

.bank-list li.selected {
    background-color: #007bff;
}

.bank-list-buttons-row {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 0.3vw;
    /* Użyj jednostki względnej dla odstępów */
    justify-content: center;
}

.bank-list-button {
    width: 100%;
    max-width: 10vw;
    /* Użyj jednostki względnej dla szerokości */
    max-height: 2vw;
    /* Użyj jednostki względnej dla wysokości */
    padding: 0.3vw;
    /* Użyj jednostki względnej dla paddingu */
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 0.5vw;
    /* Użyj jednostki względnej dla zaokrąglenia */
    cursor: pointer;
    font-size: 0.9vw;
    /* Użyj jednostki względnej dla rozmiaru czcionki */
    transition: background-color 0.3s ease;
    margin-top: 1vw;
    /* margin-left: 0.3vw;
    margin-right: 0.3vw; */
    /* Użyj jednostki względnej dla marginesu */
}

.bank-list-button:hover {
    background-color: #555;
}

.hint-message {
    padding: 1vw;
    /* Użyj jednostki względnej dla paddingu */
    color: #666;
    font-style: italic;
    text-align: center;
    border: 1px dashed #ccc;
    border-radius: 0.4vw;
    /* Użyj jednostki względnej dla zaokrąglenia */
    margin: 1vw;
    /* Użyj jednostki względnej dla marginesu */
    font-size: 0.9vw;
    /* Użyj jednostki względnej dla rozmiaru czcionki */
}