.char-list-containter {
    color: #ffffff;
    width: 100%;
    margin-bottom: 0.5vw;
    /* Użyj jednostki względnej dla marginesu */
    padding-bottom: 0.5vw;
    /* Użyj jednostki względnej dla paddingu */
}

.char-list {
    color: #ffffff;
    width: 100%;
    background-color: #333;
    border-radius: 0.5vw;
    height: 13vw;
    overflow-y: auto;
}

.char-list-containter h3 {
    margin-top: 0.5vw;
    /* Użyj jednostki względnej dla marginesu */
    margin-bottom: 0.2vw;
    /* Użyj jednostki względnej dla marginesu */
    font-size: 1.0vw;
    /* Użyj jednostki względnej dla rozmiaru czcionki */
    text-align: center;
}

.char-list ul {
    list-style-type: none;
    margin-top: 0.5vw;
    /* Użyj jednostki względnej dla marginesu */
    background-color: transparent;
    padding-left: 1vw;
    /* Użyj jednostki względnej dla paddingu */
    padding-right: 1vw;
    /* Użyj jednostki względnej dla paddingu */
}

.char-list li {
    padding: 0.2vw;
    /* Użyj jednostki względnej dla paddingu */
    padding-left: 0.3vw;
    /* Użyj jednostki względnej dla paddingu */
    background-color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9vw;
}

.char-list li:hover {
    background-color: #555;
}

.char-list li.selected {
    background-color: #007bff;
}

.char-list-buttons-row {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    /* Użyj jednostki względnej dla odstępów */
}

.char-list-button {
    width: 100%;
    padding: 0.5vw;
    /* Użyj jednostki względnej dla paddingu */
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 0.5vw;
    /* Użyj jednostki względnej dla zaokrąglenia */
    cursor: pointer;
    font-size: 0.9vw;
    /* Użyj jednostki względnej dla rozmiaru czcionki */
    transition: background-color 0.3s ease;
    margin-top: 0.8vw;
    /* Użyj jednostki względnej dla marginesu */
}

.char-list-button:hover {
    background-color: #555;
}

.hint-message {
    padding: 1vw;
    /* Użyj jednostki względnej dla paddingu */
    color: #666;
    font-style: italic;
    text-align: center;
    border: 1px dashed #ccc;
    border-radius: 0.4vw;
    /* Użyj jednostki względnej dla zaokrąglenia */
    margin: 1vw;
    /* Użyj jednostki względnej dla marginesu */
    font-size: 0.9vw;
    /* Użyj jednostki względnej dla rozmiaru czcionki */
}